<ion-header>
  <ion-toolbar color="secondary" routerLink="/coctails">
    <ion-title>
      <ion-icon name="arrow-back"></ion-icon> Wstecz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{drink.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Składniki</ion-card-subtitle>
      <ion-item *ngFor="let i of drink.ingrediens">{{i}}</ion-item>
    </ion-card-content>
    <ion-card-content>
      <ion-card-subtitle>Przygotowanie</ion-card-subtitle>
      <ion-item>{{drink.preparation}}</ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>