<ion-header>
    <ion-toolbar color="secondary" routerLink="/">
        <ion-title>
            <ion-icon name="arrow-back"></ion-icon> Wstecz
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="grid_list">
        <ion-row>
            <ion-col>
                <div class="grid_item blue" routerLink="/ingredients">
                    <ion-icon name="apps" class="icon"></ion-icon>
                    <ion-label>Alkohole</ion-label>
                </div>
            </ion-col>
            <ion-col>
                <div class="grid_item yellow" routerLink="/coctails">
                    <ion-icon name="wine" class="icon">
                    </ion-icon>
                    <ion-label>Drinki alkoholowe</ion-label>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="grid_item pink" routerLink="/non-alcohol">
                    <ion-icon name="happy" class="icon"></ion-icon>
                    <ion-label>Drinki bezalkoholowe</ion-label>
                </div>
            </ion-col>
            <ion-col>
                <div class="grid_item white" routerLink="/flavour">
                    <ion-icon name="menu" class="icon">
                    </ion-icon>
                    <ion-label>Smaki</ion-label>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>