<ion-header>
  <ion-toolbar color="secondary" routerLink="/main">
    <ion-title>
      <ion-icon name="arrow-back"></ion-icon> Wstecz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading" name="circles"></ion-spinner>
  <ion-grid class="grid_list">
    <ion-row>
      <ion-col *ngFor="let i of list" class="item" routerLink="/ingredients-details/{{i.name}}">
        <div class="grid_item blue">
          <ion-label>{{i.name}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>